{% extends 'index.html' %}
{% block content %}
<style>
	.profile-div{
		margin: auto 0 8vh 0;
	}
	
	.profile-text-h3{
		margin-bottom: 2.5vh;
	}

	.old-password-div{
		display: none;
	}

	.confirm-password-div{
		display: none;
	}
</style>
<div class="container-fluid">
	<div class="container-fluid">
		<h3 class="text-center profile-text-h3">Profile</h3>
	</div>
	<div class="container-fluid profile-div">
		<form method="post" action="{% url 'updateUserProfile' %}">
			{% csrf_token %}
			<div class="row text-center">
				<div class="col-4">
					<label for="userfirstname" class="form-label">First Name:</label>
				</div>
				<div class="col-4">
					<input type="text" name="userfirstname" class="form-control-plaintext" value="{{ user.first_name }}" readonly required>
				</div>
				<div class="col-4">
					<button class="btn edit-firstname-button" type="button">Edit</button>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-4">
					<label for="userlastname" class="form-label">Last Name:</label>
				</div>
				<div class="col-4">
					<input type="text" name="userlastname" class="form-control-plaintext" value="{{ user.last_name }}" readonly required>
				</div>
				<div class="col-4">
					<button class="btn edit-lastname-button" type="button">Edit</button>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-4">
					<label for="useremail" class="form-label">Email:</label>
				</div>
				<div class="col-4">
					<input type="email" name="useremail" class="form-control-plaintext" value="{{ user.email }}" readonly required>
				</div>
				<div class="col-4">
					<button class="btn edit-email-button" type="button">Edit</button>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-success disabled change-user-info-button" type="submit">Change</button>
			</div>
		</form>
	</div>
	<div class="container-fluid text-center">
		<a class="btn btn-primary" type="button" href="{% url 'logOutUser' %}">Log Out</a>
		<br>
		<br>
		<a class="btn btn-danger" type="button" href="{% url 'deleteuseraccount' %}">Delete Account</a>
	</div>
</div>
<script>
	var editFirstnameButton = document.querySelector(".edit-firstname-button");
	var editLastnameButton = document.querySelector(".edit-lastname-button");
	var editEmailButton = document.querySelector(".edit-email-button");
	var changeUserInfoButton = document.querySelector(".change-user-info-button");
	var firstnameSaved = false;
	var lastnameSaved = false;
	var emailSaved = false;
	editFirstnameButton.addEventListener("click", () => {
		if(editFirstnameButton.innerText == "Edit"){
			if(document.querySelector("input[name='userfirstname']").hasAttribute("readonly")){
				document.querySelector("input[name='userfirstname']").toggleAttribute("readonly");
			}
			editFirstnameButton.innerText = "Save";
			firstnameSaved = false;
		}
		else if(editFirstnameButton.innerText == "Save" && document.querySelector("input[name='userfirstname']").value != ""){
			if(!document.querySelector("input[name='userfirstname']").hasAttribute("readonly")){
				document.querySelector("input[name='userfirstname']").toggleAttribute("readonly");
			}
			editFirstnameButton.innerText = "Edit";
			firstnameSaved = true;
			if(changeUserInfoButton.classList.contains("disabled")){
				changeUserInfoButton.classList.toggle("disabled")
			}
		}
		else{}
	});
	editLastnameButton.addEventListener("click", () => {
		if(editLastnameButton.innerText == "Edit"){
			if(document.querySelector("input[name='userlastname']").hasAttribute("readonly")){
				document.querySelector("input[name='userlastname']").toggleAttribute("readonly");
			}
			editLastnameButton.innerText = "Save";
			lastnameSaved = false;
		}
		else if(editLastnameButton.innerText == "Save" && document.querySelector("input[name='userlastname']").value != ""){
			if(!document.querySelector("input[name='userlastname']").hasAttribute("readonly")){
				document.querySelector("input[name='userlastname']").toggleAttribute("readonly");
			}
			editLastnameButton.innerText = "Edit";
			lastnameSaved = true;
			if(changeUserInfoButton.classList.contains("disabled")){
				changeUserInfoButton.classList.toggle("disabled")
			}
		}
		else{}
	});
	editEmailButton.addEventListener("click", () => {
		if(editEmailButton.innerText == "Edit"){
			if(document.querySelector("input[name='useremail']").hasAttribute("readonly")){
				document.querySelector("input[name='useremail']").toggleAttribute("readonly");
			}
			editEmailButton.innerText = "Save";
			emailSaved = false;
		}
		else if(editEmailButton.innerText == "Save" && document.querySelector("input[name='useremail']").validity.valid == true){
			if(!document.querySelector("input[name='useremail']").hasAttribute("readonly")){
				document.querySelector("input[name='useremail']").toggleAttribute("readonly");
			}
			editEmailButton.innerText = "Edit";
			emailSaved = true;
			if(changeUserInfoButton.classList.contains("disabled")){
				changeUserInfoButton.classList.toggle("disabled")
			}
		}
		else{}
	});
</script>
{% endblock %}